<h2 mat-dialog-title>{{formTitle}}</h2>

<form [formGroup]="salarieForm">
  <input type="hidden" formControlName="id" [(ngModel)]="salarie.id" />
<div>
  <mat-form-field class="input-standard">
    <mat-label>Matricule* </mat-label>
    <input matInput placeholder="Matricule*" formControlName="matricule" [(ngModel)]="salarie.matricule" />
    <mat-error *ngIf="salarieForm.get('matricule').invalid && salarieForm.get('matricule').touched">
      {{getFormMessageError('matricule')}}
    </mat-error>
  </mat-form-field>
</div>
  <div>
    <mat-form-field class="input-standard">
      <mat-label>Nom*</mat-label>
      <input matInput placeholder="Nom*" formControlName="nom" [(ngModel)]="salarie.nom" />
      <mat-error *ngIf="salarieForm.get('nom').invalid && salarieForm.get('nom').touched">
        {{getFormMessageError('nom')}}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="input-standard">
      <mat-label>Prénom*</mat-label>
      <input matInput placeholder="Prénom*" formControlName="prenom" [(ngModel)]="salarie.prenom" />
      <mat-error *ngIf="salarieForm.get('prenom').invalid && salarieForm.get('prenom').touched">
        {{getFormMessageError('prenom')}}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="input-standard">
      <mat-label>Date d'embauche*</mat-label>
      <input matInput placeholder="Date d'embauche*" formControlName="date_embauche" [(ngModel)]="salarie.date_embauche" />
      <mat-error *ngIf="salarieForm.get('date_embauche').invalid && salarieForm.get('date_embauche').touched">
        {{getFormMessageError('date_embauche')}}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="input-standard">
      <mat-label>Email*</mat-label>
      <input matInput placeholder="Email*" formControlName="email"
        [(ngModel)]="salarie.email" />
      <mat-error *ngIf="salarieForm.get('email').invalid && salarieForm.get('email').touched">
        {{getFormMessageError('email')}}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="input-standard">
      <mat-label>Mobile</mat-label>
      <input matInput placeholder="Mobile" formControlName="mobile" [(ngModel)]="salarie.mobile" />
      <mat-error *ngIf="salarieForm.get('email').invalid && salarieForm.get('mobile').touched">
        {{getFormMessageError('mobile')}}
      </mat-error>
    </mat-form-field>
  </div>

  </form>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!salarieForm.valid"
      (click)="doSaveSalarie(salarie)">OK</button>
    <button mat-button [routerLink]="['/salaries']">ANNULER</button>
  </div>
