<h2 mat-dialog-title>{{userFormTitre}}</h2>
<div mat-dialog-content >
<div id="div"></div>
  <form [formGroup]="userForm">
  <mat-form-field *ngIf="displayUserGroup">
    <mat-select placeholder="Groupe" [(ngModel)]="utilisateur.fk_group" formControlName="fk_group">
      <mat-option *ngFor="let group of userGroups" [value]="group.pk_group">
        {{group.groupname}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <div class="input-full-width">
    <mat-form-field class="input-full-width">
      <input matInput placeholder="Nom *" formControlName="nom" [(ngModel)]="utilisateur.nom" />
      <mat-error *ngIf="userForm.get('nom').invalid && userForm.get('nom').touched">
        {{getFormMessageError('nom')}}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="input-full-width">
    <mat-form-field class="input-full-width">
      <input matInput  placeholder="Prénom" formControlName="prenom" [(ngModel)]="utilisateur.prenom" />
    </mat-form-field>
  </div>

  <div class="input-full-width">
    <mat-form-field class="input-full-width">
      <input matInput placeholder="Téléphone" formControlName="tel" [(ngModel)]="utilisateur.tel" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="input-full-width">
      <input matInput placeholder="Fax" formControlName="fax" [(ngModel)]="utilisateur.fax" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="input-full-width">
      <input matInput placeholder="Email" formControlName="email" [(ngModel)]="utilisateur.email"/>
      <mat-error *ngIf="userForm.get('email').invalid && (userForm.get('email').touched || userForm.get('email').dirty)">
        {{getFormMessageError('email')}}
      </mat-error>
    </mat-form-field>
  </div>
  <div formGroupName="passwordGroup">
    <div>
      <mat-form-field class="input-full-width">
        <input matInput type="password" placeholder="Mot de passe" formControlName="password" [(ngModel)]="utilisateur.password"/>
        <mat-error *ngIf="userForm.get('passwordGroup.password').invalid && userForm.get('passwordGroup.password').touched">
          {{getFormMessageError('passwordGroup.password')}}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-full-width">
        <input matInput type="password" onpaste="return false" autocomplete="OFF" placeholder="Confirmation mot de passe" formControlName="passwordConfirm" [(ngModel)]="utilisateur.passwordConfirm"/>
        <mat-error *ngIf="userForm.get('passwordGroup.passwordConfirm').invalid && userForm.get('passwordGroup.passwordConfirm').touched">
          {{getFormMessageError('passwordGroup.password')}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="!userForm.valid" (click)="doSaveUser(utilisateur)">OK</button>
  <button mat-button [mat-dialog-close]="" mat-dialog-close>ANNULER</button>
</div>
