

<div [hidden]="!error" class="alert alert-danger">
  {{ error }}
</div>

<fieldset [disabled]="isLoading">
  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <h3>Connexion</h3>
     <div>
      <mat-form-field class="input-standard">
          <mat-label>Email*</mat-label>
          <input matInput type="text" class="form-control" [placeholder]="'Email'" formControlName="email">  
        </mat-form-field>
      </div>

      <div>
          <mat-form-field class="input-standard">
              <mat-label>Mot de passe*</mat-label>
              <input matInput type="password" class="form-control" [placeholder]="'Password'" formControlName="password"> 
            </mat-form-field>
          </div>

          <div>
              <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">
                  <span [hidden]="isLoading">Se connecter</span>
                  <span [hidden]="!isLoading">
                   Connexion encours
                  </span>
              </button>
          </div>     
         
  </form>
</fieldset>
